In [1]:
import pandas as pd
import numpy as np
import ast
import pickle
from pathlib import Path
import multirecording_spikeanalysis as spike

In [2]:
cols = ['condition ', 'session_dir', 'all_subjects', 'tone_start_timestamp', 'tone_stop_timestamp']

# Load the data
df = pd.read_excel('rce_pilot_2_per_video_trial_labels.xlsx', usecols=cols, engine='openpyxl')

In [3]:
df

,condition,session_dir,all_subjects,tone_start_timestamp,tone_stop_timestamp
0,NaN,NaN,NaN,NaN,NaN
1,1.4,20230612_101430_standard_comp_to_training_D1_s...,"['1.3', '1.4']",982229.0,1182226.0
2,1.3,20230612_101430_standard_comp_to_training_D1_s...,"['1.3', '1.4']",3382227.0,3582224.0
3,1.4,20230612_101430_standard_comp_to_training_D1_s...,"['1.3', '1.4']",5682225.0,5882222.0
4,1.4,20230612_101430_standard_comp_to_training_D1_s...,"['1.3', '1.4']",7482224.0,7682221.0
...,...,...,...,...,...
1219,2.2,20230630_115506_standard_comp_to_novel_agent_D...,"['1.2', '1.4', '2.1', '2.2']",60673457.0,60873459.0
1220,2.2,20230630_115506_standard_comp_to_novel_agent_D...,"['1.2', '1.4', '2.1', '2.2']",62173475.0,62373477.0
1221,2.2,20230630_115506_standard_comp_to_novel_agent_D...,"['1.2', '1.4', '2.1', '2.2']",64173502.0,64373501.0
1222,2.2,20230630_115506_standard_comp_to_novel_agent_D...,"['1.2', '1.4', '2.1', '2.2']",66073522.0,66273524.0
1223,2.2,20230630_115506_standard_comp_to_novel_agent_D...,"['1.2', '1.4', '2.1', '2.2']",67073535.0,67273537.0

In [4]:
df2 = df.dropna() # Drop the rows missing data

In [6]:
df2

,condition,session_dir,all_subjects,tone_start_timestamp,tone_stop_timestamp
1,1.4,20230612_101430_standard_comp_to_training_D1_s...,"['1.3', '1.4']",982229.0,1182226.0
2,1.3,20230612_101430_standard_comp_to_training_D1_s...,"['1.3', '1.4']",3382227.0,3582224.0
3,1.4,20230612_101430_standard_comp_to_training_D1_s...,"['1.3', '1.4']",5682225.0,5882222.0
4,1.4,20230612_101430_standard_comp_to_training_D1_s...,"['1.3', '1.4']",7482224.0,7682221.0
5,1.4,20230612_101430_standard_comp_to_training_D1_s...,"['1.3', '1.4']",8582220.0,8782223.0
...,...,...,...,...,...
1219,2.2,20230630_115506_standard_comp_to_novel_agent_D...,"['1.2', '1.4', '2.1', '2.2']",60673457.0,60873459.0
1220,2.2,20230630_115506_standard_comp_to_novel_agent_D...,"['1.2', '1.4', '2.1', '2.2']",62173475.0,62373477.0
1221,2.2,20230630_115506_standard_comp_to_novel_agent_D...,"['1.2', '1.4', '2.1', '2.2']",64173502.0,64373501.0
1222,2.2,20230630_115506_standard_comp_to_novel_agent_D...,"['1.2', '1.4', '2.1', '2.2']",66073522.0,66273524.0
1223,2.2,20230630_115506_standard_comp_to_novel_agent_D...,"['1.2', '1.4', '2.1', '2.2']",67073535.0,67273537.0

In [7]:
df3 = df2.copy()
df3['all_subjects'] = df3['all_subjects'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x) # Make the 'all_subjects' column readable as a list

In [8]:
df3

,condition,session_dir,all_subjects,tone_start_timestamp,tone_stop_timestamp
1,1.4,20230612_101430_standard_comp_to_training_D1_s...,"[1.3, 1.4]",982229.0,1182226.0
2,1.3,20230612_101430_standard_comp_to_training_D1_s...,"[1.3, 1.4]",3382227.0,3582224.0
3,1.4,20230612_101430_standard_comp_to_training_D1_s...,"[1.3, 1.4]",5682225.0,5882222.0
4,1.4,20230612_101430_standard_comp_to_training_D1_s...,"[1.3, 1.4]",7482224.0,7682221.0
5,1.4,20230612_101430_standard_comp_to_training_D1_s...,"[1.3, 1.4]",8582220.0,8782223.0
...,...,...,...,...,...
1219,2.2,20230630_115506_standard_comp_to_novel_agent_D...,"[1.2, 1.4, 2.1, 2.2]",60673457.0,60873459.0
1220,2.2,20230630_115506_standard_comp_to_novel_agent_D...,"[1.2, 1.4, 2.1, 2.2]",62173475.0,62373477.0
1221,2.2,20230630_115506_standard_comp_to_novel_agent_D...,"[1.2, 1.4, 2.1, 2.2]",64173502.0,64373501.0
1222,2.2,20230630_115506_standard_comp_to_novel_agent_D...,"[1.2, 1.4, 2.1, 2.2]",66073522.0,66273524.0
1223,2.2,20230630_115506_standard_comp_to_novel_agent_D...,"[1.2, 1.4, 2.1, 2.2]",67073535.0,67273537.0

In [9]:
test1 = df2.loc[1, 'all_subjects']

In [10]:
test1

"['1.3', '1.4']"

In [11]:
type(test1)

str

In [12]:
test2 = df3.loc[1, 'all_subjects']

In [13]:
test2

['1.3', '1.4']

In [14]:
type(test2)

list

In [15]:
df4 = df3[df3['all_subjects'].apply(lambda x: len(x) < 3)] # Ignore novel sessions for now

In [16]:
df4

,condition,session_dir,all_subjects,tone_start_timestamp,tone_stop_timestamp
1,1.4,20230612_101430_standard_comp_to_training_D1_s...,"[1.3, 1.4]",982229.0,1182226.0
2,1.3,20230612_101430_standard_comp_to_training_D1_s...,"[1.3, 1.4]",3382227.0,3582224.0
3,1.4,20230612_101430_standard_comp_to_training_D1_s...,"[1.3, 1.4]",5682225.0,5882222.0
4,1.4,20230612_101430_standard_comp_to_training_D1_s...,"[1.3, 1.4]",7482224.0,7682221.0
5,1.4,20230612_101430_standard_comp_to_training_D1_s...,"[1.3, 1.4]",8582220.0,8782223.0
...,...,...,...,...,...
942,both_rewarded,20230625_112913_standard_comp_to_both_rewarded...,"[1.1, 1.4]",64304011.0,64504015.0
943,both_rewarded,20230625_112913_standard_comp_to_both_rewarded...,"[1.1, 1.4]",65804029.0,66004033.0
944,both_rewarded,20230625_112913_standard_comp_to_both_rewarded...,"[1.1, 1.4]",67804057.0,68004058.0
945,both_rewarded,20230625_112913_standard_comp_to_both_rewarded...,"[1.1, 1.4]",69704075.0,69904080.0
946,both_rewarded,20230625_112913_standard_comp_to_both_rewarded...,"[1.1, 1.4]",70704093.0,70904092.0

In [17]:
test3 = df3.loc[1, 'session_dir']

In [18]:
test3

'20230612_101430_standard_comp_to_training_D1_subj_1-4_and_1-3'

In [19]:
new_df_data = []

for _, row in df4.iterrows():
    session_dir = row['session_dir']
    subjects = row['all_subjects']
    condition = row['condition ']

    # Split session_dir on '_subj_' and take the first part only
    # This ensures everything after '_subj_' is ignored
    base_session_dir = session_dir.split('_subj_')[0]

    for subject in subjects:
        subject_formatted = subject.replace('.', '-')
        # Append formatted subject to the base session_dir correctly
        subj_recording = f"{base_session_dir}_subj_{subject_formatted}"
        new_df_data.append({
            'session_dir': session_dir,
            'subject': subject,
            'subj_recording': subj_recording,
            'condition': condition if condition in ['rewarded', 'omission', 'both_rewarded', 'tie'] else ('win' if str(condition) == str(subject) else 'lose'),
            'tone_start_timestamp': row['tone_start_timestamp'],
            'tone_stop_timestamp': row['tone_stop_timestamp']
        })

# Convert list to DataFrame
new_df = pd.DataFrame(new_df_data)
new_df = new_df.drop_duplicates()

In [20]:
new_df

,session_dir,subject,subj_recording,condition,tone_start_timestamp,tone_stop_timestamp
0,20230612_101430_standard_comp_to_training_D1_s...,1.3,20230612_101430_standard_comp_to_training_D1_s...,lose,982229.0,1182226.0
1,20230612_101430_standard_comp_to_training_D1_s...,1.4,20230612_101430_standard_comp_to_training_D1_s...,win,982229.0,1182226.0
2,20230612_101430_standard_comp_to_training_D1_s...,1.3,20230612_101430_standard_comp_to_training_D1_s...,win,3382227.0,3582224.0
3,20230612_101430_standard_comp_to_training_D1_s...,1.4,20230612_101430_standard_comp_to_training_D1_s...,lose,3382227.0,3582224.0
4,20230612_101430_standard_comp_to_training_D1_s...,1.3,20230612_101430_standard_comp_to_training_D1_s...,lose,5682225.0,5882222.0
...,...,...,...,...,...,...
1267,20230625_112913_standard_comp_to_both_rewarded...,1.4,20230625_112913_standard_comp_to_both_rewarded...,both_rewarded,67804057.0,68004058.0
1268,20230625_112913_standard_comp_to_both_rewarded...,1.1,20230625_112913_standard_comp_to_both_rewarded...,both_rewarded,69704075.0,69904080.0
1269,20230625_112913_standard_comp_to_both_rewarded...,1.4,20230625_112913_standard_comp_to_both_rewarded...,both_rewarded,69704075.0,69904080.0
1270,20230625_112913_standard_comp_to_both_rewarded...,1.1,20230625_112913_standard_comp_to_both_rewarded...,both_rewarded,70704093.0,70904092.0
1271,20230625_112913_standard_comp_to_both_rewarded...,1.4,20230625_112913_standard_comp_to_both_rewarded...,both_rewarded,70704093.0,70904092.0

In [22]:
# Prepare timestamp_dicts from new_df
timestamp_dicts = {}
for _, row in new_df.iterrows():
    key = row['subj_recording']
    condition = row['condition']
    timestamp_start = int(row['tone_start_timestamp']) // 20
    timestamp_end = int(row['tone_stop_timestamp']) // 20
    tuple_val = (timestamp_start, timestamp_end)

    if key not in timestamp_dicts:
        timestamp_dicts[key] = {cond: [] for cond in ['rewarded', 'win', 'lose', 'omission', 'both_rewarded', 'tie']}
    timestamp_dicts[key][condition].append(tuple_val)

# Convert lists in timestamp_dicts to numpy arrays
for subj_recording in timestamp_dicts:
    for condition in timestamp_dicts[subj_recording]:
        timestamp_dicts[subj_recording][condition] = np.array(timestamp_dicts[subj_recording][condition], dtype=np.int64)

In [23]:
# Construct the path in a platform-independent way (HiPerGator or Windows)
ephys_path = Path('.') / 'export' / 'updated_phys' / 'non-novel' / 'all_non_novel'

ephys_data = spike.EphysRecordingCollection(str(ephys_path))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
20230612_101430_standard_comp_to_training_D1_subj_1-3_t3b3L_box2_merged.rec
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
20230617_115521_standard_comp_to_omission_D1_subj_1-1_t1b3L_box1_merged.rec
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
20230617_115521_standard_comp_to_omission_D1_subj_1-2_t2b2L_box2_merged.rec
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
20230618_100636_standard_comp_to_omission_D2_subj_1-1_t1b2L_box2_merged.rec
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
20230618_100636_standard_comp_to_omission_D2_subj_1-4_t4b3L_box1_merged.rec
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
20230619_115321_standard_comp_to_omission_D3_subj_1-4_t3b3L_box2_merged.rec
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
20230620_114347_standard_comp_to_omission_D4_subj_1-1_t1b2L_box_2_merged.rec
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
20230620_114347_standard_comp_to_omission_D4_subj_1-2_t3b3L_box_1_merged.rec
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
20230621_111240_standard_comp_to_omission_D5_subj_1-4_t3b3L_box1_merged.rec
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
Unit 92 is unsorted & has 2494 spikes
Unit 92 will be deleted
20230622_110832_standard_comp_to_both_rewarded_D1_subj_1-1_t1b3L_box1_merged.rec
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
Unit 103 is unsorted & has 512 spikes
Unit 103 will be deleted
20230622_110832_standard_comp_to_both_rewarded_D1_subj_1-2_t3b3L_box1_merged.rec
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
20230624_105855_standard_comp_to_both_rewarded_D3_subj_1-2_t1b2L_box1_merged.rec
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
20230624_105855_standard_comp_to_both_rewarded_D3_subj_1-4_t3b3L_box1_merged.rec
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
20230625_112913_standard_comp_to_both_rewarded_D4_subj_1-1_t1b2L_box1_merged.rec
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
Unit 96 is unsorted & has 5811 spikes
Unit 96 will be deleted
Unit 95 is unsorted & has 6458 spikes
Unit 95 will be deleted
20230625_112913_standard_comp_to_both_rewarded_D4_subj_1-4_t3b3L_box1_merged.rec
Please assign event dictionaries to each recording
as recording.event_dict
event_dict = {event name(str): np.array[[start(ms), stop(ms)]...]
Please assign subjects to each recording as recording.subject

In [26]:
tsvdf = pd.read_csv(r"C:\Users\short\Documents\GitHub\npc_playground\export\updated_phys\non-novel\all_non_novel\20230612_101430_standard_comp_to_training_D1_subj_1-3_t3b3L_box2_merged.rec\phy\cluster_group.tsv", delimiter='\t')

In [27]:
tsvdf

    cluster_id     group
0            1     noise
1            2      good
2            3     noise
3            5      good
4            9  unsorted
5           11     noise
6           12     noise
7           13      good
8           14     noise
9           17      good
10          18      good
11          19      good
12          20     noise
13          22       mua
14          23      good
15          24      good
16          26      good
17          29       mua
18          30       mua
19          31       mua
20          32     noise
21          33      good
22          34       mua
23          35       mua
24          36      good
25          37     noise
26          38       mua
27          39      good
28          40     noise
29          41     noise
30          42     noise
31          44       mua
32          45     noise
33          46     noise
34          47     noise
35          48     noise
36          53       mua
37          54     noise
38          55      good
39          56       mua
40          57      good
41          58       mua
42          59      good
43          65      good
44          66     noise
45          67     noise
46          68      good
47          81      good
48          82       mua
49          85      good
50          87     noise
51          88      good
52          94      good
53          95     noise
54          98      good
55          99     noise

In [38]:
spike_clusters = np.load(r'C:\Users\short\Documents\GitHub\npc_playground\export\updated_phys\non-novel\all_non_novel\20230612_101430_standard_comp_to_training_D1_subj_1-3_t3b3L_box2_merged.rec\phy\spike_clusters.npy')

In [30]:
spike_clusters

array([85, 41, 55, ..., 14, 26, 87])

In [34]:
spike_clusters.shape

(483418,)

In [35]:
type(spike_clusters)

numpy.ndarray

In [37]:
spike_times = np.load(r'C:\Users\short\Documents\GitHub\npc_playground\export\updated_phys\non-novel\all_non_novel\20230612_101430_standard_comp_to_training_D1_subj_1-3_t3b3L_box2_merged.rec\phy\spike_times.npy')

In [39]:
spike_times

array([[     689],
       [    1754],
       [    1829],
       ...,
       [68293021],
       [68293168],
       [68293331]], dtype=int64)

In [40]:
spike_times.shape

(483418, 1)

In [41]:
type(spike_times)

numpy.ndarray