In [8]:
import pandas as pd

cols = ['Date', 'Recording Day', 'Subject', 'Agent']

# Load the data
df = pd.read_excel(r'C:\Users\short\Downloads\rce_cohort3_per_file_rce_competition_recording_log.xlsx', usecols=cols, engine='openpyxl')

In [9]:
df

,Date,Recording Day,Subject,Agent
0,"Legend: Red Day is skipped, green is days that...",NaN,NaN,NaN
1,2024-02-27 00:00:00,comp then omission/alone,4.2,4.3
2,2024-02-27 00:00:00,comp then omission/alone,4.3,4.2
3,2024-02-28 00:00:00,comp then omission/alone,3.1,3.3
4,2024-02-28 00:00:00,comp then omission/alone,3.3,3.1
...,...,...,...,...
188,2024-04-14 00:00:00,Discriminatory,4.3,4.4
189,2024-04-14 00:00:00,Discriminatory,4.4,4.3
190,NaN,NaN,NaN,NaN
191,2024-04-17 00:00:00,Discriminatory,3.3,3.4
192,2024-04-17 00:00:00,Discriminatory,3.4,3.3

In [19]:
df2 = df.dropna().copy()

In [20]:
df2

                    Date             Recording Day  Subject  Agent
1    2024-02-27 00:00:00  comp then omission/alone      4.2    4.3
2    2024-02-27 00:00:00  comp then omission/alone      4.3    4.2
3    2024-02-28 00:00:00  comp then omission/alone      3.1    3.3
4    2024-02-28 00:00:00  comp then omission/alone      3.3    3.1
5    2024-02-28 00:00:00  comp then omission/alone      4.3    4.4
..                   ...                       ...      ...    ...
186  2024-04-15 00:00:00            Discriminatory      3.4    3.1
188  2024-04-14 00:00:00            Discriminatory      4.3    4.4
189  2024-04-14 00:00:00            Discriminatory      4.4    4.3
191  2024-04-17 00:00:00            Discriminatory      3.3    3.4
192  2024-04-17 00:00:00            Discriminatory      3.4    3.3

[136 rows x 4 columns]

In [21]:
# Convert 'Subject' and 'Agent' to floats
df2['Subject'] = pd.to_numeric(df2['Subject'], errors='coerce')
df2['Agent'] = pd.to_numeric(df2['Agent'], errors='coerce')

# Create 'Pair' column with values in numerical order
df2['Pair'] = df2.apply(lambda row: f"{min(row['Subject'], row['Agent'])}-{max(row['Subject'], row['Agent'])}", axis=1)

In [22]:
df2

                    Date             Recording Day  Subject  Agent     Pair
1    2024-02-27 00:00:00  comp then omission/alone      4.2    4.3  4.2-4.3
2    2024-02-27 00:00:00  comp then omission/alone      4.3    4.2  4.2-4.3
3    2024-02-28 00:00:00  comp then omission/alone      3.1    3.3  3.1-3.3
4    2024-02-28 00:00:00  comp then omission/alone      3.3    3.1  3.1-3.3
5    2024-02-28 00:00:00  comp then omission/alone      4.3    4.4  4.3-4.4
..                   ...                       ...      ...    ...      ...
186  2024-04-15 00:00:00            Discriminatory      3.4    3.1  3.1-3.4
188  2024-04-14 00:00:00            Discriminatory      4.3    4.4  4.3-4.4
189  2024-04-14 00:00:00            Discriminatory      4.4    4.3  4.3-4.4
191  2024-04-17 00:00:00            Discriminatory      3.3    3.4  3.3-3.4
192  2024-04-17 00:00:00            Discriminatory      3.4    3.3  3.3-3.4

[136 rows x 5 columns]

In [23]:
df2['Pair'].value_counts()

Pair
5.2-5.3    24
4.2-4.4    20
4.3-4.4    18
3.1-3.4    18
4.2-4.3    16
3.1-3.3    16
3.3-3.4    14
5.3-5.4     6
5.2-5.4     4
Name: count, dtype: int64

In [24]:
df2['Recording Day'].value_counts()

Recording Day
Novel                       40
comp then omission/alone    32
Long comp                   18
Both Rewarded               18
Alone then comp             14
Discriminatory              14
Name: count, dtype: int64

In [27]:
df_novel = df2[df2['Recording Day']=='Novel']
df_omis = df2[df2['Recording Day']=='comp then omission/alone']
df_long_comp = df2[df2['Recording Day']=='Long comp']
df_both_reward = df2[df2['Recording Day']=='Both Rewarded']
df_alone_comp = df2[df2['Recording Day']=='Alone then comp']
df_discrim = df2[df2['Recording Day']=='Discriminatory']

In [28]:
# Group by 'Recording Day' and calculate 'Pair' value counts for each group
pair_counts_by_recording_day = df2.groupby('Recording Day')['Pair'].apply(lambda x: x.value_counts())

# Display the result
print(pair_counts_by_recording_day)

Recording Day
Alone then comp           3.1-3.3     2
                          4.2-4.3     2
                          3.3-3.4     2
                          4.3-4.4     2
                          5.2-5.3     2
                          3.1-3.4     2
                          4.2-4.4     2
Both Rewarded             5.2-5.3     4
                          4.3-4.4     4
                          3.1-3.3     2
                          4.2-4.4     2
                          3.1-3.4     2
                          4.2-4.3     2
                          3.3-3.4     2
Discriminatory            3.1-3.3     2
                          4.2-4.3     2
                          4.2-4.4     2
                          5.2-5.3     2
                          3.1-3.4     2
                          4.3-4.4     2
                          3.3-3.4     2
Long comp                 3.1-3.3     2
                          4.2-4.3     2
                          3.3-3.4     2
                          4.3-4.4     2
                          3.1-3.4     2
                          4.2-4.4     2
                          5.3-5.4     2
                          5.2-5.3     2
                          5.2-5.4     2
Novel                     5.2-5.3    10
                          4.2-4.4     6
                          3.1-3.4     6
                          4.2-4.3     6
                          3.1-3.3     4
                          3.3-3.4     4
                          4.3-4.4     4
comp then omission/alone  4.2-4.4     6
                          3.1-3.3     4
                          4.3-4.4     4
                          3.1-3.4     4
                          5.3-5.4     4
                          5.2-5.3     4
                          4.2-4.3     2
                          3.3-3.4     2
                          5.2-5.4     2
Name: Pair, dtype: int64

In [30]:
type(pair_counts_by_recording_day)

pandas.core.series.Series

In [32]:
pair_counts_by_recording_day.to_csv('RCE3_Pairs.csv')