In [1]:
import pandas as pd
import numpy as np
from scipy import stats

# Sample data loading (modify this with your actual data path and method)
data = {
    'unit': ['unit1', 'unit2', 'unit3', 'unit4', 'unit5'],
    'a': [0, 4, 5, 1, 7],
    'b': [1, 5, 3, 7, 5],
    'c': [1, 0, 1, 0, 1]
}

df = pd.DataFrame(data)

# To perform ANOVA, we need to reshape this data to a long format
df_long = pd.melt(df, id_vars=['unit'], value_vars=['a', 'b', 'c'], var_name='group', value_name='value')

In [2]:
# Perform the ANOVA
anova_result = stats.f_oneway(df_long[df_long['group'] == 'a']['value'],
                              df_long[df_long['group'] == 'b']['value'],
                              df_long[df_long['group'] == 'c']['value'])

print(f"F-statistic: {anova_result.statistic}, P-value: {anova_result.pvalue}")

F-statistic: 3.8840579710144922, P-value: 0.05003752254462882

In [3]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Perform Tukey's HSD test
tukey_result = pairwise_tukeyhsd(endog=df_long['value'], groups=df_long['group'], alpha=0.05)
print(tukey_result)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
     a      b      0.8 0.8281 -2.8189 4.4189  False
     a      c     -2.8 0.1394 -6.4189 0.8189  False
     b      c     -3.6 0.0512 -7.2189 0.0189  False
---------------------------------------------------

In [4]:
import pandas as pd

# Data dictionary, with each key corresponding to a column in the DataFrame
data = {
    'unit': ['unit1', 'unit1', 'unit1', 'unit1', 'unit1', 'unit1', 'unit1', 'unit1', 'unit1', 'unit1', 'unit1', 'unit1', 'unit1', 'unit1', 'unit1', 'unit1', 'unit1', 'unit1',
             'unit2', 'unit2', 'unit2', 'unit2', 'unit2', 'unit2', 'unit2', 'unit2', 'unit2', 'unit2', 'unit2', 'unit2', 'unit2', 'unit2', 'unit2', 'unit2', 'unit2', 'unit2',
             'unit3', 'unit3', 'unit3', 'unit3', 'unit3', 'unit3', 'unit3', 'unit3', 'unit3', 'unit3', 'unit3', 'unit3', 'unit3', 'unit3', 'unit3', 'unit3', 'unit3', 'unit3',
             'unit4', 'unit4', 'unit4', 'unit4', 'unit4', 'unit4', 'unit4', 'unit4', 'unit4', 'unit4', 'unit4', 'unit4', 'unit4', 'unit4', 'unit4', 'unit4', 'unit4', 'unit4',
             'unit5', 'unit5', 'unit5', 'unit5', 'unit5', 'unit5', 'unit5', 'unit5', 'unit5', 'unit5', 'unit5', 'unit5', 'unit5', 'unit5', 'unit5', 'unit5', 'unit5', 'unit5'],
    'category': ['a', 'a', 'a', 'b', 'b', 'c', 'a', 'a', 'a', 'b', 'b', 'c', 'a', 'a', 'a', 'b', 'b', 'c',
                 'a', 'a', 'a', 'b', 'b', 'c', 'a', 'a', 'a', 'b', 'b', 'c', 'a', 'a', 'a', 'b', 'b', 'c',
                 'a', 'a', 'a', 'b', 'b', 'c', 'a', 'a', 'a', 'b', 'b', 'c', 'a', 'a', 'a', 'b', 'b', 'c',
                 'a', 'a', 'a', 'b', 'b', 'c', 'a', 'a', 'a', 'b', 'b', 'c', 'a', 'a', 'a', 'b', 'b', 'c',
                 'a', 'a', 'a', 'b', 'b', 'c', 'a', 'a', 'a', 'b', 'b', 'c', 'a', 'a', 'a', 'b', 'b', 'c'],
    'value': [1, 0, 1, 1, 0, 2, 2, 2, 0, 1, 0, 2, 2, 1, 2, 1, 0, 1,
              3, 1, 1, 0, 4, 1, 3, 1, 0, 5, 2, 0, 1, 0, 1, 3, 1, 2,
              4, 4, 4, 5, 3, 0, 4, 5, 3, 3, 3, 2, 5, 4, 3, 4, 5, 0,
              7, 3, 6, 6, 3, 1, 6, 1, 5, 4, 2, 2, 3, 2, 0, 1, 0, 0,
              4, 5, 5, 5, 5, 1, 4, 5, 6, 7, 6, 1, 7, 5, 7, 4, 5, 1]
}

# Create DataFrame
df = pd.DataFrame(data)

# Display the DataFrame to verify
print(df.head())

    unit category  value
0  unit1        a      1
1  unit1        a      0
2  unit1        a      1
3  unit1        b      1
4  unit1        b      0

In [5]:
df

     unit category  value
0   unit1        a      1
1   unit1        a      0
2   unit1        a      1
3   unit1        b      1
4   unit1        b      0
..    ...      ...    ...
85  unit5        a      5
86  unit5        a      7
87  unit5        b      4
88  unit5        b      5
89  unit5        c      1

[90 rows x 3 columns]

In [6]:
df_long = pd.melt(df, id_vars=['unit'], value_vars=['a', 'b', 'c'], var_name='group', value_name='value')

ValueError: value_name (value) cannot match an element in the DataFrame columns.

In [7]:
data = {
    'unit': ['unit1', 'unit2', 'unit3', 'unit4', 'unit5'],
    'a': [
        [1, 0, 1, 2, 2, 0, 2, 1, 2],
        [3, 1, 1, 3, 1, 0, 1, 0, 1],
        [4, 4, 4, 4, 5, 3, 5, 4, 3],
        [7, 3, 6, 6, 1, 5, 3, 2, 0],
        [4, 5, 5, 4, 5, 6, 7, 5, 7]
    ],
    'b': [
        [1, 0, 2, 1, 0, 2, 1, 0, 1],
        [0, 4, 1, 5, 2, 0, 3, 1, 2],
        [5, 3, 0, 3, 3, 2, 4, 5, 0],
        [6, 3, 1, 4, 2, 2, 1, 0, 0],
        [5, 5, 1, 7, 6, 1, 4, 5, 1]
    ],
    'c': [
        [1, 2, 1],
        [1, 0, 2],
        [0, 2, 0],
        [1, 0, 0],
        [1, 1, 1]
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

# Display the DataFrame to verify
df

    unit                            a                            b          c
0  unit1  [1, 0, 1, 2, 2, 0, 2, 1, 2]  [1, 0, 2, 1, 0, 2, 1, 0, 1]  [1, 2, 1]
1  unit2  [3, 1, 1, 3, 1, 0, 1, 0, 1]  [0, 4, 1, 5, 2, 0, 3, 1, 2]  [1, 0, 2]
2  unit3  [4, 4, 4, 4, 5, 3, 5, 4, 3]  [5, 3, 0, 3, 3, 2, 4, 5, 0]  [0, 2, 0]
3  unit4  [7, 3, 6, 6, 1, 5, 3, 2, 0]  [6, 3, 1, 4, 2, 2, 1, 0, 0]  [1, 0, 0]
4  unit5  [4, 5, 5, 4, 5, 6, 7, 5, 7]  [5, 5, 1, 7, 6, 1, 4, 5, 1]  [1, 1, 1]

In [8]:
df_long = pd.melt(df, id_vars=['unit'], value_vars=['a', 'b', 'c'], var_name='group', value_name='value')

In [9]:
# Perform the ANOVA
anova_result = stats.f_oneway(df_long[df_long['group'] == 'a']['value'],
                              df_long[df_long['group'] == 'b']['value'],
                              df_long[df_long['group'] == 'c']['value'])

print(f"F-statistic: {anova_result.statistic}, P-value: {anova_result.pvalue}")

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [10]:
import pandas as pd
import numpy as np
from scipy import stats

# Sample data setup
data = {
    'unit': ['unit1', 'unit2', 'unit3', 'unit4', 'unit5'],
    'a': [[1, 0, 1, 2, 2, 0, 2, 1, 2], [3, 1, 1, 3, 1, 0, 1, 0, 1], [4, 4, 4, 4, 5, 3, 5, 4, 3], [7, 3, 6, 6, 1, 5, 3, 2, 0], [4, 5, 5, 4, 5, 6, 7, 5, 7]],
    'b': [[1, 0, 2, 1, 0, 2, 1, 0, 1], [0, 4, 1, 5, 2, 0, 3, 1, 2], [5, 3, 0, 3, 3, 2, 4, 5, 0], [6, 3, 1, 4, 2, 2, 1, 0, 0], [5, 5, 1, 7, 6, 1, 4, 5, 1]],
    'c': [[1, 2, 1], [1, 0, 2], [0, 2, 0], [1, 0, 0], [1, 1, 1]]
}

df = pd.DataFrame(data)
df = df.set_index('unit')

# Replace each list with its mean
for col in df.columns:
    df[col] = df[col].apply(np.mean)

# Reshape the DataFrame to long format for ANOVA
df_long = pd.melt(df.reset_index(), id_vars=['unit'], value_vars=['a', 'b', 'c'], var_name='group', value_name='value')

# Perform the ANOVA
anova_result = stats.f_oneway(df_long[df_long['group'] == 'a']['value'],
                              df_long[df_long['group'] == 'b']['value'],
                              df_long[df_long['group'] == 'c']['value'])

print(f"F-statistic: {anova_result.statistic}, P-value: {anova_result.pvalue}")

F-statistic: 4.115680551870523, P-value: 0.043544856709536686

In [11]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Perform Tukey's HSD test
tukey_result = pairwise_tukeyhsd(endog=df_long['value'], groups=df_long['group'], alpha=0.05)
print(tukey_result)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     a      b  -0.7556 0.6151 -2.8569  1.3458  False
     a      c  -2.2222 0.0381 -4.3236 -0.1208   True
     b      c  -1.4667  0.192  -3.568  0.6347  False
----------------------------------------------------